<nav>
  <ul class="nav nav-pills">
    {% for nav in site.data.nav %}
      {% if nav.subcategories != null %}
        <li>
          <a href="{{ site.url }}{{ nav.url }}">{{ nav.title }} ▼</a>
          <ul>
          {% for subcategory in nav.subcategories %}
            <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
          {% endfor %}
          </ul>
        </li>
      {% elsif nav.title == page.title %}
         <li class="active">
           <a href="{{ nav.url }}">{{ nav.title }}</a>
         </li>
      {% else %} 
        <li>
          <a href="{{ site.url }}{{ nav.href }}">{{ nav.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    
    {% if site.data.data.sidebar.linkedin %}
    <li class="linkedin"><a href="https://linkedin.com/in/{{site.data.data.sidebar.linkedin}}" title="LinkedIn" rel="noopener noreferrer" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    {% endif %}

    {% if site.data.data.sidebar.twitter %}
    <li class="twitter"><a href="https://twitter.com/{{site.data.data.sidebar.twitter}}" title="Twitter" rel="noopener noreferrer" target="_blank"><i class="fa fa-twitter"></i></a></li>
    {% endif %}


    {% if site.data.data.sidebar.github %}
    <li class="github"><a href="http://github.com/{{site.data.data.sidebar.github}}" title="GitHub" rel="noopener noreferrer" target="_blank"><i class="fa fa-github"></i></a></li>
    {% endif %}

    {% if site.data.data.sidebar.resume %}
    <li class="resume"><a href="{{site.data.data.sidebar.resume}}" title="Resume" rel="noopener noreferrer" target="_blank"><i class="fa fa-file-text"></i></a></li>
    {% endif %}

  </ul>
</nav> 
