{% if site.data.data.speaking %}
<section class="section conferences-section">

  <h2 class="section-title"><i class="fa fa-bullhorn"></i>{{ site.data.data.speaking.title }}</h2>
  <figure class="speaker-image-wrapper"><img class="speaker-image" src="{{site.baseurl}}/assets/images/{{site.data.data.speaker-img}}" alt="Jenn speaking"/></figure>
  {% if site.data.data.speaking.intro %}
  <div class="intro"><p>{{ site.data.data.speaking.intro }}</p></div>
  {% endif %}

  {% for conference in site.data.data.speaking.conferences %}
    <div class="item">
      <div class="upper-row">
        <div class="conference-title">
          {% if conference.site %}<a href="{{conference.site}}">{% endif %}{{ conference.title }}{% if conference.site %}</a>{% endif %}
        </div>
        <div class="time">{{ conference.time }}</div>
      </div>
      <div class="conference-authors">{{ conference.authors }}</div>
      {% if conference.embed %}
      {{conference.embed}}
      {% endif %}
      <div class="conference-conference">{{ conference.conference | markdownify }}
        {% if conference.slides %}
        <div class="conference-slides"><a download href="{{conference.slides}}">Session Slides</a></div>
        {% endif %}
      </div>
    </div><!--//item-->
  {% endfor %}
  
  <div class="conference-images row">
    {% for conference in site.data.data.speaking.conferences %}
      {% if conference.img %}
        <div class="col-md-4 conference-wrapper">
          <figure><img class="conference-image" src="{{site.baseurl}}/assets/images/{{ conference.img }}" alt="Jenn speaking at {{conference.title}}"/><figcaption>{{conference.title}}</figcaption></figure>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</section><!--//section-->
{% endif %}

